py-tgcalls==2.2.8
watchdog
aiofiles
aiohttp
ffmpeg
telethon
orjson
httpx
requests
psutil
fake_useragent
pydub
BeautifulSoup
tempfile
arabic_reshaper
python-bidi
nest_asyncio

aiosqlite
